<!DOCTYPE html>

<img src="../../static/images/logo-1color.svg" alt="Logo">
<img src="../../static/images/app-name.svg" alt="Logotext">
<p>@username</p>
<img src="..." alt="profielfoto">

<!-- plaatsen met grid -->