<!DOCTYPE html>
<nav>
    <div>
        <img src="/images/logo-1color.svg" alt="Logo">
        <div>
        <img src="/images/app-name.svg" alt="Logotext">
        <p>@username</p>
        </div>
    </div>
    <a href="accountinfo"><img src="/images/pfp.jpg" alt="profielfoto"></a>
</nav>
