<nav>
    <a href="..."><img src="../../static/images/add-friend-svgrepo-com.svg" alt="Vind Buddy"></a>
    <a href="../index.ejs"><img src="../../static/images/home-svgrepo-com.svg" alt="Opgeslagen concerten"></a>
    <a href="..."><img src="../../static/images/user-svgrepo-com.svg" alt="Account"></a>
</nav>