<nav>
    <a href="/buddy-zoeken"><img src="/images/add-friend-svgrepo-com.svg" alt="Vind Buddy"></a>
    <a href="/"><img src="/images/home-svgrepo-com.svg" alt="Opgeslagen concerten"></a>
     <a href="<%= loggedInUser ? `/user/${loggedInUser._id}` : '/login' %>"><img src="/images/user-svgrepo-com.svg" alt="Account"></a>
</nav>