<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
            <label>
                <h2>Adres</h2>
                <input name="adres" type="email" placeholder="user@email.com" required>
            </label>
            <label>
                <h2>Leeftijd</h2> 
                <input  name="leeftijd" type="number" required>
            </label>
            <label>
                <h2>Heb je een rijbewijs?</h2> 
                <input  name="rijbewijs" type="checkbox" required>
            </label>
            <label>
                <h2>Heb je een eigen auto?</h2> 
                <input  name="auto" type="checkbox" required>
            </label>
            <label>
                <h2>Wil je rijden?</h2> 
                <input  name="rijden" type="checkbox" required>
            </label>
            <input type="checkbox"> <h2>Onthoud login</h2>
            <a href="register"><h2>Registreren</h2></a>
            <button type="sumbit"><h2>Klaar</h2></button>
        </form>
</body>
</html>