<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto aanbieden</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <%- include('partials/header')%>
    </header>
    <main>
        <h1>Auto Aanbieden</h1>
        <form action="/autoaanbieden" method="POST">
        <input type="hidden" name="eventId" value="<%= eventId %>">
            <label>
                <h2>Welke auto heb je?</h2>
                <input name="auto" placeholder="Honda Civic" required>
            </label>
            <label>
                <h2>Hoe oud ben je?</h2>
                <input name="leeftijd" placeholder="23" required>
            </label>
            <label>
                <h2>Hoeveel passen er in je auto?</h2>
                <input name="hoeveel" placeholder="5" required>
            </label>
            <label>
                <h2>Vanuit welke stad ga je rijden?</h2>
                <input name="stad" placeholder="Amsterdam" required>
            </label>
            <label>
                <h2>Wat voor brandstof verbruikt je auto?</h2> 
                <div>
                    <input class="radio"  id="verbruiktbenzine" name="brandstof" value="benzine" type="radio" required>
                    <label for="verbruiktbenzine">Benzine</label>
                    <input class="radio" id="verbruiktdiesel" name="brandstof" value="diesel" type="radio" required>
                    <label for="verbruiktdiesel">Diesel</label>
                    <input class="radio" id="verbruiktelek" name="brandstof" value="elektrisch" type="radio" required>
                    <label for="verbruiktelek">Elektrisch</label>
                </div>
            </label>
            <button class="happyflow" type="submit"><h2>Bied aan</h2></button>
        </form>
    </main>
    <footer>
    </footer>
</body>
</html>