<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/buddyzoeken.css">
    <title>Buddy zoeken</title>
</head>
<body>
    <header>
        <% include("partials/header.ejs") %>
    </header>
    <main>
        <!-- filtergedeelte -->
        <button>Filter</button>
        <section> 
            <h2>Filters</h2>
            <h3>Plaats</h3>
            <input type="search" placeholder="zoek een plaats...">
            <!-- <h3>Auto beschikbaar</h3>
            <input type="checkbox" id="auto-ja" name="auto" value="ja">
            <label for="auto-ja">Ja</label>
            <input type="checkbox" id="auto-nee" name="auto" value="nee">
            <label for="auto-nee">Nee</label>
            <h3>Wil en mag je rijden?</h3>
            <input type="checkbox" id="rijden-ja" name="rijden" value="ja">
            <label for="rijden-ja">Ja</label>
            <input type="checkbox" id="rijden-nee" name="rijden" value="nee">
            <label for="rijden-nee">Nee</label> -->
            <h3>Retour of enkele reis</h3>
            <input type="checkbox" id="retour" name="reis" value="Retour">
            <label for="retour">Retour</label>
            <input type="checkbox" id="heen" name="reis" value="Heen">
            <label for="heen">Heen</label>
            <input type="checkbox" id="terug" name="reis" value="Terug">
            <label for="terug">Terug</label>
            <h3>Leeftijd</h3>
            <div class="wrapper">
                <div class="container">
                    <div class="slider-track"></div>
                    <input type="range" min="0" max="100" value="30" id="slider-1" oninput="slideOne()">
                    <input type="range" min="0" max="100" value="70" id="slider-2" oninput="slideTwo()">
                </div>
                <div class="values">
                    <span id="range1">
                        0
                    </span>
                    <span> - </span>
                    <span id="range2">
                        100
                    </span>
                </div>
            </div>
            <h3>Prijs</h3>
        </section>
    </main>
    <footer>
    </footer>
    <script src="/scripts/script2.js"></script>
</body>
</html>