<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <a href="index.html"><img src="Terugpijl"></a>
        <h1>Huidig Concert</h1>
        <div>
        <section>
            <img src="artistImage">
            <h3>The Beatles</h3>
            <p>22 Mei 2026</p>
            <button></button>
        </section>
        <section>
             <img src="images/ziggoDomeMap.png">
             <p>Ziggo Dome, De Passage 100, 1101AX Amsterdam</p>
        </section>
        <a>Zoek een auto</a>
        <a>Bied auto aan</a>
        </div>
        
    </main>
</body>
</html>