<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Concerten in de buurt</title>
</head>
<body>
    <header>
        <%- include('partials/header')%>
        <a href="accountinfo">Account</a>
    </header>
    <main>
        <h1>Concerten in de buurt</h1>
        <section>
            <input id="artistInput" type="search" placeholder="zoek een concert...">
            <button id="searchBtn" type="submit">
                <img src="images/searchicon.svg" alt="searchicon">
            </button>
            <button id="filterbutton">Filter</button>
        </section> 
        <!-- Filtergedeelte -->
        <section id="filtergedeelte" class="hidden"> 
            <h2>Filters</h2>
            <h3>Plaats</h3>
                <input type="search" placeholder="zoek een plaats...">
            <h3>Type muziek</h3>
            <input type="checkbox" id="pop & rock" name="type muziek" value="pop & rock">
            <label for="pop & rock">Pop & Rock</label>
            <input type="checkbox" id="hiphop" name="type muziek" value="hiphop">
            <label for="hiphop">Hiphop</label>
            <input type="checkbox" id="r&b/soul" name="type muziek" value="r&b/soul">
            <label for="r&b/soul">R&B/Soul</label>
            <input type="checkbox" id="klassiek" name="type muziek" value="klassiek">
            <label for="klassiek">Klassiek</label>
            <input type="checkbox" id="jazz" name="type_muziek" value="jazz">
            <label for="jazz">Jazz</label>
            <input type="checkbox" id="wereldmuziek" name="type_muziek" value="wereldmuziek">
            <label for="wereldmuziek">Wereldmuziek</label>
            <input type="checkbox" id="opera" name="type_muziek" value="opera">
            <label for="opera">Opera</label>
            <h3>Datum</h3>
            <h3>Prijs</h3>
            <div class="wrapper">
                <div class="container">
                    <div class="slider-track"></div>
                    <input type="range" min="0" max="100" value="30" id="slider-1" oninput="slideOne()">
                    <input type="range" min="0" max="100" value="70" id="slider-2" oninput="slideTwo()">
                </div>
                <div class="values">
                    <span id="range1">
                        0
                    </span>
                    <span> - </span>
                    <span id="range2">
                        100
                    </span>
                </div>
            </div>
        </section>
        <div id="results"></div>
    </main>
    <footer>
        <%- include('partials/menubalk')%>
        <a href="/buddyzoeken">Buddy zoeken</a>
    </footer>
    <script src="/scripts/script.js"></script>
</body>
</html>
