<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <title>Concerten in de buurt</title>
</head>
<body>
    <header>
        <%- include('partials/header')%>
    </header>
    <main>
        <h1>Concerten in de buurt</h1>
        <section>
            <input type="search" placeholder="Zoek een concert..." id="zoekConcert">
            <button>Filter</button>
        </section>
        <!-- <div id="results"></div> -->
        <form id="filtergedeelte">
            <h2>Filters</h2>
            <h3>Plaats</h3>
            <input type="search" id="zoekPlaats" placeholder="zoek een plaats...">
            <button type="button" id="plaatsButton">Zoek</button>
            <h3>Type muziek</h3>
            <input type="checkbox" id="rock" class="genre-filter" value="rock">
            <label for="rock">Rock</label>
            <input type="checkbox" id="dance" class="genre-filter" value="dance-electronic">
            <label for="dance">Dance/Electronic</label>
            <input type="checkbox" id="pop" class="genre-filter" value="pop">
            <label for="pop">Pop</label>
            <input type="checkbox" id="hiphop" class="genre-filter" value="hip-hop-rap">
            <label for="hiphop">Hip-hop/Rap</label>
            <input type="checkbox" id="other" class="genre-filter" value="other">
            <label for="other">Other</label>
            <h3>Datum</h3>
            <input type="date" id="datumVan">
            <input type="date" id="datumTot">
            <div>
                <button type="button" id="annuleer">Annuleer</button>
                <button type="button" id="zoek">Zoek</button>
            </div>
        </form>

        <div id="concertList">
            <ul class="list" id="results"></ul>
        </div>

    </main>
    <footer>
        <%- include('partials/menubalk')%>
    </footer>
    <script src="/scripts/script.js"></script>
</body>
</html>
