<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoek een buddy!</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <%- include('partials/header')%>
    </header>
    <main>
        <h1>Zoek een buddy</h1>
        <div>
            <img src="../images/pfp.jpg">
            <p>Naam</p>
            <p>Prijs</p>
            <div>rating</div>
            <p>Auto:</p>
            <p>Leeftijd:</p>
        </div>
            <h2>Andere Passagiers</h2>
        <div>
            <form action="addToListing" method="POST" >
                <button type="submit"></button>
            </form>
            
        </div>
        
    </main>
    <footer>
        <%- include('partials/menubalk')%>
    </footer>
</body>
</html>