<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <header>
        <h1>Log in</h1>
    </header>
    <main>
        <form action="/login" method="POST">
            <label>
                <h2>E-mail</h2>
                <input name="email" type="email" placeholder="user@email.com" required>
            </label>
            <label>
                <h2>Wachtwoord</h2> 
                <input  name="wachtwoord" type="password" placeholder="wachtwoord" required>
            </label>
            <a href="register"><h2>Registreren</h2></a>
            <button type="sumbit"><h2>Log in</h2></button>
        </form>
        <footer>

        </footer>
    </main>
</body>
</html>