<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registreren</title>
</head>
<body>
    <header>
        <h1>Registreren</h1>
    </header>
    <main>
        <form action="/register" method="POST">
            <label>
                <h2>E-mail</h2>
                <input name="email" type="email" placeholder="user@email.com" required>
            </label>
            <label>
                <h2>Wachtwoord</h2> 
                <input  name="wachtwoord" type="password" placeholder="wachtwoord" required>
            </label>
            <a href="login">Ik heb al een account</a>
            <button type="sumbit"><h2>Registreer</h2></button>
        </form>
        <footer>

        </footer>
    </main>
</body>
</html>