<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User info    </title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <%- include('partials/header')%>
    </header>
    <main>
        <h1>username</h1>
        <div>
            <img src="../images/pfp.jpg">
            <p>Naam</p>
            <p>Prijs</p>
            <p>Rating:</p>
            <p>Auto:</p>
            <p>Leeftijd:</p>
        </div>
        <div>
            <h2>reviews</h2>
            <a href="review">Laat een review achter!</a>
        </div>
    </main>
    <footer>
        <%- include('partials/menubalk')%>
    </footer>
</body>
</html>