img {
<<<<<<< Updated upstream
    width:50vw;
=======
    max-width: 15vw;
>>>>>>> Stashed changes
    border-radius: 0.5rem;
}

#buddyList {
    margin-top: 1rem; 
}

.list li{
    padding-left: 1rem;
}

.list a {
    display: flex;
    align-items: center;
}

<<<<<<< Updated upstream
=======
.eventcard {
    display: flex;
    align-items: center;
}

.eventcard div {
    padding-left: 1rem;
}

.eventcard img {
    aspect-ratio: 1/1;
    object-fit:cover;
}

>>>>>>> Stashed changes
