@import url("/styles.css");

h2:not(:last-of-type) {
    font-size: small;    
    color: var(--accentcolour);
}

body {
    background-color: var(--mainblue);
    color: var(--white);
}

body main {
    background-color: var(--mainblue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 3em;    
}

body form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    max-width: 16em;
}


a, a:visited {
    color: var(--accentcolour);
}

button {
    color: var(white);
    background-color: var(--happyflow);
    border: none;
    width: 10em;
    border-radius: 10px;
    align-items: center;
    display: flex;
    align-self: center;
    justify-content: center;
}

button h2 {
    font-weight: 500;
    font-size: medium;
}
label, h2 {
    font-size: small;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    margin: 0.5em 0.5em 0.5em 0;
}

label div {
    display: flex;
}

form input {
    height:2em;
    width: 16em;
}

.radio {
    width: 2em;
    margin-right: 0.5em;
}