@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

* {
    margin:0;
}
body {
    font-family: 'Alexandria';
}

.hidden {
    display: none;
}

nav img {
    filter: invert(1); /* maakt zwart → wit */
    width: 20vw;
}